<!DOCTYPE html>
<html>
	<head>
		<%- include("partials/static/head.ejs"); %>
	</head>

	<body>
		<div id=page-container>
			<%- include("partials/static/header.ejs"); %>
			
			<div id=content-wrap>
				<%= err %>
			</div>

			<%- include("partials/static/footer.ejs"); %>
		</div>
	</body>
</html>
